<div width="100%">
<div style="width: 150px; height: 15px; border-bottom: 1px solid black; margin-bottom: 15px;"><p style=" text-align: center;">Brought to you by</div>
<p><a href="http://nih.gov"><img src="{{ site.url }}/images/funding/nih.png" style="border: none;" width="150"></a>
<p><a href="https://giresearchfoundation.org/"><img src="{{ site.url }}/images/funding/girf.png" style="border: none;" width="150"></a>
<p><a href="https://dfi.uchicago.edu/"><img src="{{ site.url }}/images/funding/dfi.png" style="border: none;" width="150"></a>
</div>
